/build/
node_modules/
lib/typings
doc
lib/**/*.js
test/**/*.js
npm-debug.log
lib/**/*.d.ts
test/**/*.d.ts
*.js.map
index.d.ts
index.js

.idea/
*.iml
.idea/workspace.xml
/release
graphql.config.json
git-info.json

community.sh
spring-team.sh
atomisthq.sh

*.log
*.log.gz
/graphql.schema.json

out/
target/
