.idea/
*.iml
.vscode/
*~
.#*
.dockerignore
.gitignore
.gitattributes
.npmrc*
.atomist/
/doc/
/config/
/log/
/test/
/CO*.md
/Dockerfile
*.log
*.txt

/backpack-demo.md
/dev.cljs.edn
/project.clj
/repl.sh

/src/test/
/test-resources/
/dev/
/out/
