^{:repl-eval-timeout 60000}
{:main           atomist.main
 :target         :nodejs
 :output-to      "fingerprints/main.js"
 :output-dir     "out"
 :externs        ["externs.js"]
 :foreign-libs [{:file "logger.js"
                 :provides ["logger"]}]
 :npm-deps       {:xml-js "1.6.7"
                  :semver "5.5.0"}
 :install-deps   true
 :optimizations  :none
 :pretty-print   true
 :parallel-build true}
