{:source-paths ["src"]
 :dependencies [[cljs-node-io "0.5.0"]
                [rewrite-cljs "0.4.4"]
                [noencore "0.1.16"]
                [metosin/spec-tools "0.6.1"]
                [org.clojure/test.check "0.10.0-alpha2"]
                [cljfmt "0.5.7"]
                [com.atomist/cljs-http "0.0.1"]
                [com.rpl/specter "1.1.1"]
                [io.replikativ/hasch "0.3.4"]
                [binaryage/oops "0.6.3"]
                [cider/cider-nrepl "0.21.0"]]
 :builds {:app {:output-to "fingerprints/main.js"
                :target :node-script
                :main atomist.main/noop
                :devtools {:after-load atomist.main/noop
                           :http-root "target"
                           :http-port 8080}}}}
